<ion-content>
  <div class="card-container">
    <ion-row>
      <ion-col size-md="3" size="12" class="ion-padding fondo-verde">
        <img
          style="width: 40%; margin-left: 30%"
          src="/assets/logos/logoParqueBlanco.png"
          alt="Parque del reuerdo"
          loading="lazy"
        />
      </ion-col>
    </ion-row>
    <div class="contenedor-login">
      <div class="texto-login">
        <h3>Bienvenido a</h3>
        <h4>Parque del recuerdo</h4>
        <ion-button
          (click)="login()"
          shape="round"
          color="primary"
          class="texto-centrado"
        >
          Ingresar en salesforce
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
